<h1 mat-dialog-title>Edit an Expense</h1>
<mat-dialog-content >
    <div [formGroup]="expenseEdit">
        <mat-form-field appearance="standard">
            <input matInput placeholder="mm/dd/yyyy" [formControl]="expensedate" required>
            <div matPrefix>Date</div>
            <mat-error *ngIf="expensedate.invalid">{{ getExpensedateError() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder="description" [formControl]="description" required>
            <div matPrefix>Description</div>
            <mat-error *ngIf="expensedescription.invalid">{{ getExpensedescriptionError() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder="amount" [formControl]= "amount" required>
            <div matPrefix>Amount</div>
            <mat-error *ngIf="expenseamount.invalid">{{ getExpenseamountError() }}</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" cdkFocusInitial>Update</button>
        <button mat-flat-button color="primary" mat-dialog-close>Close</button>
    </div>
</mat-dialog-content>