<div class="EditExpenseWrapper">

    <div class="CloseButtonWrapper">
        <button class=ButtonClass mat-dialog-close>
            <i class="material-icons CloseButton">close</i>
        </button>
    </div>

    <div class="EditExpenseHeader">
        <h1 class="EditExpenseTitle Header30" mat-dialog-title>Edit Expense</h1>
    </div>

    <mat-dialog-content class="DialogContent">
        <form [formGroup]="editExpense" (submit)="onEditExpense(id)">

            <mat-form-field class="ParentField Placeholder10" appearance="standard">
                <input class="InputField" matInput placeholder="mm/dd/yyyy" formControlName="date" required>
                <div id="TitleID" class="TitleBox Button20" matPrefix>Date</div>
                <mat-error *ngIf="date.invalid">{{ getExpensedateError() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="ParentField Placeholder10" appearance="standard">
                <input class="InputField" matInput placeholder="description" formControlName="description" required>
                <div id="TitleID" class="TitleBox Button20" matPrefix>Description</div>
                <mat-error *ngIf="description.invalid">{{ getExpensedescriptionError() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="ParentField Placeholder10" appearance="standard">
                <input class="InputField" matInput placeholder="amount" formControlName="amount" required>
                <div id="TitleID" class="TitleBox Button20" matPrefix>Amount</div>
                <mat-error *ngIf="amount.invalid">{{ getExpenseamountError() }}</mat-error>
            </mat-form-field>

            <button class="CreateFooterButton Button20" mat-flat-button color="primary" cdkFocusInitial
                type="submit">Update</button>

        </form>
    </mat-dialog-content>
</div>