<h1 mat-dialog-title>Edit a Trip</h1>
<mat-dialog-content >
    <div [formGroup]="tripEdit">
        <mat-form-field appearance="standard">
            <input matInput placeholder="trip name" [formControl]="tripname" required>
            <div matPrefix>Title</div>
            <mat-error *ngIf="tripname.invalid">{{ getTripnameError() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput type="date" placeholder="mm/dd/yyyy" [formControl]="startdate" required>
            <div matPrefix>Start</div>
            <mat-error *ngIf="startdate.invalid">{{ getStartdateError() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput type="date" placeholder="mm/dd/yyyy" [formControl]="enddate">
            <div matPrefix>End</div>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder="distance in miles" [formControl]="miles" required>
            <div matPrefix>Miles</div>
            <mat-error *ngIf="miles.invalid">{{ getMilesError() }}</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" cdkFocusInitial>Update</button>
        <button mat-flat-button color="primary" mat-dialog-close>Close</button>
    </div> 
</mat-dialog-content>