<div class="BigDaddyWrapper">
<div class="DashTitleWrapper">
  <button class="AdminClose" mat-flat (click)="backButton()" routerLink="/dashboard">
  <i class="material-icons CloseButton">close</i>
  </button>
<h1 class="Header30 DashTitle">Admin Dashboard</h1>
</div>
<div *ngIf="adminUsers?.length > 0">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let adminUser of adminUsers" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description class="Accordion Button20"(click)="getThisUsersTrips()">
          {{ adminUser.username }}
        </mat-panel-description>

        <button
          mat-icon-button
          color="warn"
          (click)="deleteThisUser(adminUser.id)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <mat-list *ngFor="let trip of userTrips">
        <mat-list-item class="Accordion Button20" *ngIf="adminUser.id == trip.userId; else null">
          {{ trip.tripName }}

          <button
            mat-icon-button
            matTooltip="Double Click to Delete!"
            aria-label="Button that displays a tooltip when focused or hovered over"
            color="warn"
            (click)="deleteATrip(trip.id, trip.userId)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
