<div class="ExpenseOverallWrapper">
    <div mat-dialog-title class="ExpenseModalHeader">
        <button class="CloseButton" mat-dialog-close>
            <i class="material-icons Close">close</i>
        </button>

        <h1 class="TripName Header30">Trip Name</h1>
        <h3 class="ExpensesTitle Button20">Expenses</h3>
        <h4 class="TotalAmount Header30">Total Amount</h4>
    </div>
    <mat-dialog-content>
        <div class="ExpenseModalDisplay">
            <div class="ExpenseSectionWrapper" *ngIf="expenses">
                <div class="ExpenseMainWrapper" *ngFor="let expense of expenses">
                    <div class="IndividualWrapper">
                        <header class="ExpenseHeader">
                            <div class="DateSection">
                                <p class="Body20 ExpenseDate">{{expense.date}}</p>
                            </div>
                            <div class="UISection">
                                <div class="IconSection">
                                    <app-edit-expense [expenses]="expenses" (editRefreshed)="onEdit()"></app-edit-expense>
                                </div>
                                <div class="IconSection">
                                    <button (click)="deleteExpense(expense)" mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </header>
                        <div class="ExpenseContent">
                            <div class="Body20 ExpenseAmount">{{expense.amount}}</div>
                            <div class="ExpenseDescription">{{expense.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <app-expense-create [trip]="data" (refreshed)="onEdit()"></app-expense-create>
    </mat-dialog-actions>
</div>