.ExpenseDisplayButton {
position: relative;
margin:auto;
color: var(--white);
text-align: center;
top: .9em;
left: .1em;

}
.Circle {
        
border-radius: 50%;
background-color: var(--green);
width: 4.5em;
height: 4.5em;
}

/* DISPLAY */

.ExpenseOverallWrapper {
    background-color: var(--lgreen);
    height: 100%;
}

.ExpenseModalHeader {
    height: 40%;
    background-color: var(--green);
}

.CloseButton {
    margin-left: 85%;
    margin-top: 0.5em;
}

.Close {
    color:var(--white);
}

.TripName {
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.ExpensesTitle {
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.ExpenseModalContent {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
}

.ExpenseSectionWrapper {
    width: 90%;
    margin: auto;
}

.ExpenseMainWrapper {
   margin-top: 1em;
   margin-bottom: 1em;
   
}

.ExpenseHeader {
    overflow: hidden;
    background-color: var(--dgrey);
    border-radius: 0.5em 0.5em 0 0;
}

.HeaderTitle {
    position: relative;
    float: left;
}

.ExpenseDate {
    padding-left: 1em;
    color: var(--white);
    text-transform: uppercase;
}

.HeaderUI {
    float: right;
}

.iconUI1 {
    float: left;
    color: var(--white);
}

.iconUI2 {
    float: right;
}

.icon-btn {
    color: var(--white);
}

.ExpenseContent {
    background-color: var(--white);
    border-radius: 0 0 0.5em 0.5em;
    overflow: hidden;
    padding: 0.5em;
}

.AmountWrapper {
    float: left;
}

.ExpenseAmount {
    color: var(--green);
    padding-left: 1em;
}

.DescriptionWrapper {
    float: right;
    color: var(--green);
}

.ExpenseDescription {
    padding-right: 1em;
}

.actionBar {
    background-color: var(--lgreen);
}

.UIAction {
    margin: auto;
}