.ExpenseDisplayButton {
position: relative;
margin:auto;
color: var(--white);
text-align: center;
top: .9em;
left: .1em;

}
.Circle {
        
border-radius: 50%;
background-color: var(--green);
width: 4.5em;
height: 4.5em;
}

/* DISPLAY */

.ExpenseOverallWrapper {
    background-color: var(--lgreen);
    height: 100%;
}
.ExpenseModalHeader {
    height: 40%;
    background-color: var(--green);
    
}
.TripName {
    color: var(--white);
    text-align:center;
    text-transform: uppercase;
    margin: 0;
}
.ExpensesTitle {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}
.TotalAmount {
    color: var(--white);
    text-align: center;
    margin: 0 ;
}
.CloseButton {
    
    margin-left: 85%;
    margin-top: 0.5em;
    color:var(--white);
}
.Close {
    color: var(--white);
}

.ExpenseHeader {
    background-color: var(--dgrey);
    border-radius: 0.5em 0.5em 0em 0em;
    height: 3em;
    width: 100%;
}

.ExpenseContent {
    background-color: var(--white);
    border-radius: 0em 0em 0.5em 0.5em;
    margin: auto;
    height: 3em;
}
.ExpenseDate {
    position:relative;
    color: var(--white);
    margin: 0px 0px ;    
}

.ExpenseAmount {
    color: var(--green);
    margin-left: 1.5em;

}

.IndividualWrapper {
    width: 90%;
}

.DateSection {
    width: 50%;
    margin: 0 0 0 0;
}

.UISection {
    width: 50%;
}
