<div class="ExpenseOverallWrapper">
  <div mat-dialog-title class="ExpenseModalHeader">
    <button mat-icon-button mat-dialog-close>
      <mat-icon class="Close">close</mat-icon>
    </button>

    <h1>Trip Name</h1>
    <h3>Expenses</h3>
    <h4>Total Amount</h4>
  </div>
  <mat-dialog-content>
    <div class="ExpenseModalDisplay">
      <div class="ExpenseSectionWrapper" *ngIf="expenses">
        <div class="ExpenseMainWrapper" *ngFor="let expense of expenses">
          <div class="IndividualWrapper">
            <header class="ExpenseHeader">
              <p>{{ expense.date }}</p>
              <app-edit-expense></app-edit-expense>
              <button mat-icon-button (click)="deleteExpense(expense)">
                <mat-icon>delete</mat-icon>
              </button>
            </header>
            <div class="ExpenseContent">
              <div class="ExpenseAmount">{{ expense.amount }}</div>
              <div class="ExpenseDescription">{{ expense.description }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <app-expense-create [trip]="data"></app-expense-create>
  </mat-dialog-actions>
</div>
